{#- Macros for simplifying creating "Entity" documentation (v2). -#}
{% import 'requirement.j2' as requirement %}
{% import 'stability.j2' as stability %}
{% import 'notes.j2' as notes %}
{% import 'attribute_macros.j2' as attrs %}
{% import 'enum_macros.j2' as enums %}
{% import 'examples_macros.j2' as examples %}
{% import 'links.j2' as links %}
{#- Create registry URLs. -#}
{% macro registry_url(id, registry) -%}
{{registry}}/{{ id | split_id | list | first | kebab_case }}.md#{{ id | kebab_case }}
{%- endmacro %}
{% macro print_associations(associations, registry) -%}
{% if associations %}{%- for e in associations %}{%if loop.first == false %}; {% endif %}[`{{ e | trim }}`]({{registry_url(e, registry)}}){%- endfor %} {% endif %}
{%- endmacro %}
{#- Create role tags #}
{% macro role_tag(role) -%}{# Note: Rendering badges looks bad due to inability to size them in markdown. #}
{% if role == "identity" %}Identity{# ![Identity](https://img.shields.io/badge/-identity-purple) #}
{% elif role == "description" %}Description {# ![Description](https://img.shields.io/badge/-description-blue) #}
{% else %}Other{# ![Other](https://img.shields.io/badge/-other-red) #}
{% endif %}
{%- endmacro %}
{#- Header for snippets. -#}
{% macro header(entity) -%}
**Status:** {{ stability.badge(entity.stability, entity.deprecated, entity.brief) | trim }}

**type:** `{{ entity.type }}`

**Description:** {{ entity.brief | trim }}
{%- endmacro %}
{#- Render a single row on the entity table. -#}
{% macro attribute_row(attribute, attribute_registry_base_url, notes, role) -%}
| {{ role_tag(role) | trim }} | {{ attrs.name_with_link(attribute, attribute_registry_base_url) }} | {{ stability.badge(attribute.stability, attribute.deprecated, attribute.brief) | trim }} | {{ requirement.render({"level": attribute.requirement_level, "name": attrs.name(attribute) | trim}, notes) | trim }} | {{ attrs.type(attribute) }} | {{ attribute.brief | trim }}{{ notes.add({"note": attribute.note, "name": attrs.name(attribute) | trim}) }} | {{ examples.format(attribute) }}|
{%- endmacro %}
{#- Render attribute tables for entities. -#}
{% macro attribute_table(attributes, attribute_registry_base_url, notes, role) %}{% for attribute in attributes | attribute_sort %}{{ attribute_row(attribute, attribute_registry_base_url, notes, role) }}
{% endfor %}
{%- endmacro %}
{% macro all_attribute_table(e, attribute_registry_base_url="/docs/registry/attributes") -%}
{%- set id_attrs = e.identity | default([]) -%}
{%- set desc_attrs = e.description | default([]) -%}
{% if id_attrs | length == 0 -%}
> [!warning]
> This entity definition has no identity attributes.
> Stable Entities MUST have at least one identity attribute.

{% endif -%}
**Attributes:**

| Role | Key | Stability | [Requirement Level]({{ links.requirement_level_url() }}) | Value Type | Description | Example Values |
| --- | --- | --- | --- | --- | --- | --- |{%- if id_attrs | length > 0 %}
{{ attribute_table(id_attrs, attribute_registry_base_url, notes, "identity") | trim }}{% endif %}{%- if desc_attrs | length > 0 %}
{{ attribute_table(desc_attrs, attribute_registry_base_url, notes, "description") | trim }}{% endif %}

{{ notes.render() | trim }}

{{ enums.tables((id_attrs + desc_attrs) | selectattr("type", "mapping"), notes) | trim }}
{%- endmacro %}
